{% extends 'base.html.twig' %}

{% block title %}QCM{% endblock %}

{% block body %}
{% set i = 1 %}
        <h1>{{ groups.getQCMId()}}</h1>
        {% for question in groups.getQCMId().getQuestions() %}
                <p>Q{{ i }}- {{ question.getLabel() }}</p>
                {% set i = i+1 %}
                <p>{{ question.getImage() }}</p>
                <p>{{ question.getImage() }}</p>
                {% for answer in question.getAnswers()%}
                        <p>{{ answer.getLabel() }}</p>
                {% endfor %}
        {% endfor %}
    
    
{% endblock %}
